:root {
    --primary--color: rgba(0, 0, 0, 1);
    --secondary-color: #fff;
}

body{
    height: 600vh;
}

.page-container{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-container{
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.face-container{
    position: relative;
    width: 300px;
    padding-bottom: 4px;
}
.face{
    position: relative;
    width: 240px;
    height: 128px;
    background-color: var(--primary--color);
    border-radius: 120px 120px 12px 12px;
    margin: 0 auto;
    z-index: 999;
}

.eyes{
    position: absolute;
    bottom: 24px;
    left: 40px;
    display: flex;
    width: 116px;
    justify-content: space-between;
    transform: rotate(-6deg);
}
.eye{
    position: relative;
    width: 44px;
    height: 44px;
    background-color: var(--secondary-color);
    border-radius: 22px;

    animation: 5s linear infinite eyes-blink;

    &::after{
        content: "";
        position: absolute;
        top: 6px;
        left: 6px;
        width: 32px;
        height: 32px;
        background-color: var(--primary--color);
        border-radius: 16px;
    }
}

.hand{
    position: absolute;
    width: 64px;
    height: 48px;
    border-radius: 100%;
    background-color: var(--primary--color);
    border: 4px solid var(--secondary-color);
    z-index: 998;
}
.right-hand{
    bottom: -20px;
    left: 44px;
}
.left-hand{
    bottom: -20px;
    left: 160px;
}

.hourglass-container{
    position: relative;
    width: 300px;
    height: 400px;
}

.hourglass-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-wrapper{

    .bar{
        margin-bottom: 12px;
    }

    .main-body{
        border-radius: 12px 12px 140px 140px;
    }

    .nozzle-box{
        width: 200px;
        height: 28px;
        display: flex;
    }
}

.bottom-wrapper{
    flex-direction: column-reverse;

    .bar{
        margin-top: 12px;
    }

    .main-body{
        border-radius: 140px 140px 12px 12px ;
    }

    .nozzle-box{
        width: 200px;
        height: 28px;
        display: flex;
    }
}

.shaft{
    position: absolute;
    inset: 0; /* top:0 right:0 bottom:0 left:0 */
    margin: auto;
    width: 76px;
    height: 248px;
    background-color: var(--primary--color);
}


.main-body{
    position: relative;
    width: 260px;
    height: 147px;
    background-color: var(--primary--color);
}

.bar{
    width: 100%;
    height: 36px;
    background-color: var(--primary--color);
    border-radius: 18px;
}
.nozzle{
    flex-grow: 1;
    height: 100%;
    background-color: var(--primary--color);
}
.nozzle-1{
    transform-origin: bottom right;
    rotate: 35deg;
}
.nozzle-2{
    transform-origin: bottom left;
    rotate: -35deg;
}
.nozzle-3{
    transform-origin: top right;
    rotate: -35deg;
}
.nozzle-4{
    transform-origin: top left;
    rotate: 35deg;
}


.top-sand{
    position: absolute;
    bottom: 8px;
    right: 0;
    left: 0;
    margin: 0 auto;
    /* width 0~196px */
    width: 196px;
    aspect-ratio: 279 / 112 ;
    z-index: 999;
    transform-origin: bottom;

    & path{
        fill: var(--secondary-color);
    }

    /* スクロールアニメーションの設定 */
    animation: top-sand-progress ease-in;
    animation-timeline: scroll();
    /* animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
}

.dropping-sand{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 12px;
    height: 144px;
    background-color: var(--secondary-color);
    z-index: 9999;
    border-radius: 6px;

    transform-origin: top;

    /* スクロールアニメーションの設定 */
    animation: dropping-sand-progress linear;
    animation-timeline: scroll();
    /* animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
}

.bottom-sand{
    position: absolute;
    bottom: 28px;
    right: 0;
    left: 0;
    margin: 0 auto;
    border-radius: 16px;

    width: 200px;
    height: calc(200px / 2);

    transform-origin: bottom;

    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    background-color: var(--secondary-color);

    /* スクロールアニメーションの設定 */
    animation: bottom-sand-progress ease-out;
    animation-timeline: scroll();
    /* animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
}


/* だんだんはやく */
/* 上の砂のスケールを変えるキーフレーム */
@keyframes top-sand-progress {
    0% {
        scale: 1;
    }
    90% {
        scale: 0;
    }
    100% {
        scale: 0;
    }
}

/* 真ん中の砂のスケールを変えるキーフレーム */
@keyframes dropping-sand-progress {
    0% {
        scale: 1 0;
    }
    20% {
        scale: 1 1;
    }
    87% {
        height: 144px;
    }
    100% {
        height: 96px;
    }
}

/* だんだん遅く */
/* 下の砂のスケールを変えるキーフレーム */
@keyframes bottom-sand-progress {
    0% {
        scale: 0.2 0;
    }
    20% {
        scale: 0.2 0;
    }
    100% {
        scale: 1 1;
    }
}


/* だんだん遅く */
/* 下の砂のスケールを変えるキーフレーム */
@keyframes eyes-blink {
    0% {
        scale: 1;
    }
    20% {
        scale: 1;
    }
    21%{
        scale: 1 0;
    }
    22%{
        scale: 1;
    }
    60% {
        scale: 1;
    }
    61%{
        scale: 1 0;
    }
    62%{
        scale: 1;
    }
    66% {
        scale: 1;
    }
    67%{
        scale: 1 0;
    }
    68%{
        scale: 1;
    }
    100% {
        scale: 1;
    }
}